<h3>City Name: <%= @city.name %></h3>

<p>eventually show list of trains.name that travel through the city</p> 

<p><a href="/cities/<%= @city.id %>/edit">Edit City</a></p>
<p><a href="/cities">Return to city list</a></p>