<h1>Edit <%= @city.name %></h1>

<form action="/cities/<%= @city.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="city_name">Edit cities Name</label>
  <input id="city_name" name="city_name" type="text">

  <button type="submit">Save Changes</button>
</form>

<form action="/cities/<%= @city.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete city</button>
</form>

<p><a href="/cities">Return to city List</a></p>