<h3>Train Name: <%= @train.name %></h3>

<p>eventually show list of cities.name train is traveling to</p> 

<p><a href="/trains/<%= @train.id %>/edit">Edit Train</a></p>
<p><a href="/train">Return to train list</a></p>